{% apply spaceless %}
<div class="collapse {{ style ? 'collapse-' ~ style : 'collapse-arrow' }} {{ class }}">
    <input type="radio" {{ active ? 'checked="checked"' }}>
    <div class="collapse-title">
        {{ title }}
    </div>
    <div class="collapse-content">
        {{ content }}
    </div>
</div>
{% endapply %}
