{% apply spaceless %}
<div class="avatar{{ status ? ' avatar-'~status }}{{ placeholder ? ' avatar-placeholder' }}" {{- attributes -}}>
    <div class="{{ class }}">
        {% if placeholder is not null %}
            <span>{{ placeholder }}</span>
        {% elseif src is defined %}
            <img src="{{ src }}" alt="{{ alt|default('Avatar') }}" />
        {% endif %}
    </div>
</div>
{% endapply %}
