{% apply spaceless %}
<span
    class="{{ this.getClasses() }}"
    {% if id %}id="{{ id }}"{% endif %}
    {{ attributes }}
>
    {%- if block('content') is defined -%}
        {{ block('content') }}
    {%- else -%}
        {{ label }}
    {%- endif -%}
</span>
{% endapply %}
